.slider-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    /* width: 1440px;  */
    /* Ширина слайдера */
    /* height: 600px; */
     /* Высота слайдера */
    overflow: hidden;
    margin: 0 auto;
}

.slide-image {
    width: 500px;
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: cover;  */
    /* Чтобы изображение целиком помещалось в область слайда */
}

/* Остальные стили слайдера */
