.slider-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 25px);
    margin: 0 0 120px 0;
    height: 600px;
}

.slider-content {
    display: flex;
    transition: transform 0.5s ease; /* Плавная анимация смены слайдов */
}

.slide-image {
    max-width: 100%; /* Растягиваем изображение на всю ширину слайда */
    height: 100%;
    object-fit: cover;
     /* Чтобы изображение целиком помещалось в область слайда */
}
