.blog {
    width: 100%; /* Добавляем ширину секции */
  }
  
  .blog__city {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  
  .blog__title {
    margin-top: 20px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    width: 572px;
    height: 84px;
  }
  
  .blog__date {
    margin-top: 20px;
    font-family: Bahnschrift;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  
  .blog__image {
    margin-top: 20px;
    height: 600px;
    object-fit: contain;
  }
  
  .blog__image img {
    height: 600px;
    width: 100%;
  }
  
  .blog__card {
    display: flex;
    justify-content: space-between; /* Распределяем карточки по всей ширине */
    margin-top: 40px; /* Добавляем отступ между блоком карточек и заголовком */
    width: 100%; /* Устанавливаем ширину блока карточек на 100% */
  }
  
  .blog__card-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }
  
  .blog__card1 {
    width: 100%;
    height: 389px; /* Высота всех карточек */
  }
  
  .blog__card1--large {
    max-width: 592px; /* Максимальная ширина первой карточки */
  }
  
  .blog__card1--small {
    max-width: 286px; /* Максимальная ширина последующих карточек */
  }
  
  .blog__image-content {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Подгоняем изображение под размер карточки */
  }
  
  .blog__card1-title {
    margin: 8px 0 0 0; /* Отступ сверху для заголовка под карточкой */
    font-family: Bahnschrift;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    text-align: left; /* Выровнять текст по левому краю */
  }
  
  .blog__card1-title p {
    margin: 0;
  }
  
  .blog__card1-subtitle {
    margin: 5px 0 0 0; /* Отступ сверху для подзаголовка */
    font-family: Bahnschrift;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-align: left; /* Выровнять текст по левому краю */
  }
  
  .blog__card2 {
    width: 100%;
    height: 444px; /* Высота всех карточек второго ряда */
  }
  
  .blog__card2--large {
    max-width: 388px; /* Максимальная ширина первой карточки второго ряда */
  }
  
  .blog__card2--medium {
    max-width: 388px; /* Максимальная ширина последующих карточек второго ряда */
  }
  
  .blog__image-content {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Подгоняем изображение под размер карточки */
  }
  
  .blog__card1-title,
  .blog__card2-title {
    margin-top: 10px; /* Отступ сверху для заголовка под карточкой */
    font-family: Bahnschrift;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    text-align: left; /* Выровнять текст по левому краю */
  }
  
  .blog__card1-title p,
  .blog__card2-title p {
    margin: 0;
  }
  
  .blog__card1-subtitle,
  .blog__card2-subtitle {
    margin-top: 5px; /* Отступ сверху для подзаголовка */
    font-family: Bahnschrift;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-align: left; /* Выровнять текст по левому краю */
  }