.events-grid{
    padding: 60px 0 89px;
}

.events-grid__menu{
    display: flex;
    gap: 20px;
}

.events-grid__select{
    appearance: none;
    text-transform: uppercase;
    width: 286px;
    background-color: #D2D1D0;
    border: none;
    padding: 16px 20px 18px;
    background-image: url(../../images/chevronDown.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px);

}

.events-grid__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(286px,1fr));
    gap: 60px 20px;
}

.events-grid__list_type_animaton{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 60px 20px;
}

.events-grid__flex-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.events-grid__sorting{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events-grid__ivent_type_animation{
    height: 390px;
    border: 1px solid gray;
}

.events-grid__ivent_type_album {
    width: 266px;
    margin-top: 54px;
}

.events-grid__background-image{
    width: 286px;
    height: 389px;
    background-color: black;
    transform: rotate(3deg);
    position: absolute;
    top: -20px;
    left: 10px;
    z-index: -1;
}

@media screen and (max-width:1220px) {
    .events-grid__list_type_animaton{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(286px,1fr));
        gap: 60px 20px;
    }
}

@media screen and (max-width:768px) {
    .events-grid__list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:520px) {
    .events-grid__list{
        grid-template-columns: 1fr;
    }
}